<ion-header>
  <ion-toolbar>
    <ion-title>Clima</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-item>
    <ion-label>País</ion-label>
    <ion-select
      [(ngModel)]="paisSeleccionado"
      placeholder="Seleccionar país">
      
      <ion-select-option
        *ngFor="let pais of paises"
        [value]="pais">
        {{ pais.nombre }}
      </ion-select-option>

    </ion-select>
  </ion-item>

  <ion-button
    expand="block"
    (click)="consultarClima()"
    [disabled]="!paisSeleccionado || cargando">

    {{ cargando ? 'Consultando...' : 'Consultar Clima' }}

  </ion-button>

  <ion-card *ngIf="climaData">

    <ion-card-header>
      <ion-card-title>
        Clima de {{ paisSeleccionado?.nombre }}
      </ion-card-title>
      <ion-card-subtitle>
        {{ paisSeleccionado?.capital }}
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>

      <ion-list>

        <ion-item>
          <ion-label>Condición</ion-label>
          <ion-note slot="end">
            {{ getDescripcion(climaData?.current?.weather_code) }}
          </ion-note>
        </ion-item>

        <ion-item>
          <ion-label>Temperatura</ion-label>
          <ion-note slot="end">
            {{ climaData?.current?.temperature_2m }} °C
          </ion-note>
        </ion-item>

        <ion-item>
          <ion-label>Sensación térmica</ion-label>
          <ion-note slot="end">
            {{ climaData?.current?.apparent_temperature || climaData?.current?.temperature_2m }} °C
          </ion-note>
        </ion-item>

        <ion-item>
          <ion-label>Humedad</ion-label>
          <ion-note slot="end">
            {{ climaData?.current?.relative_humidity_2m }} %
          </ion-note>
        </ion-item>

        <ion-item>
          <ion-label>Viento</ion-label>
          <ion-note slot="end">
            {{ climaData?.current?.wind_speed_10m }} km/h
          </ion-note>
        </ion-item>

        <ion-item>
          <ion-label>Hora UTC</ion-label>
          <ion-note slot="end">
            {{ climaData?.current?.time }}
          </ion-note>
        </ion-item>

        <ion-item>
          <ion-label>Hora local</ion-label>
          <ion-note slot="end">
            {{ convertirHoraLocal(climaData?.current?.time) }}
          </ion-note>
        </ion-item>

      </ion-list>

    </ion-card-content>

  </ion-card>

</ion-content>