<ion-header>
  <ion-toolbar>
    <ion-title>Fotografía</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">


  <ion-list>
    <ion-list-header>
      <ion-label>Condición climática</ion-label>
    </ion-list-header>

    <ion-radio-group [(ngModel)]="datos.condicion">

      <ion-item>
        <ion-label>Soleado</ion-label>
        <ion-radio value="Soleado"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Nublado</ion-label>
        <ion-radio value="Nublado"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Lluvioso</ion-label>
        <ion-radio value="Lluvioso"></ion-radio>
      </ion-item>

    </ion-radio-group>
  </ion-list>

  <ion-item>
    <ion-textarea
      label="Comentario"
      labelPlacement="stacked"
      [(ngModel)]="datos.comentario"
      placeholder="Escribe un comentario..."
      [autoGrow]="true">
    </ion-textarea>
  </ion-item>

  <ion-button
    expand="block"
    (click)="tomarFoto()"
    class="ion-margin-top">

    Tomar fotografía

  </ion-button>

  <ion-button
    expand="block"
    color="success"
    (click)="guardarJson()"
    class="ion-margin-top">

    Guardar

  </ion-button>


  <!-- DATOS MOSTRADOS -->
  <div *ngIf="guardado">

    <h2>Clima: {{ datos.condicion }}</h2>

    <h2>Comentario: {{ datos.comentario }}</h2>

    <h2>Fotografía: {{ datos.fotoId }}</h2>

    <div *ngIf="datos.fotoUrl" class="foto-container">
      <p>
        <strong>
          FotoGrafia:
        </strong>
      </p>
      <img [src]="datos.fotoUrl" alt="Fotografia Tomada" class="foto">
    </div>

  </div>

</ion-content>